.input-group-append {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .input-group-append .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .input-group-append:hover .tooltiptext {
    visibility: visible;
    
  }
  
  .br-none {
      border: none;
  }
  .hover:hover{
      filter:invert();
  }